In [4]:
import pandas as pd

baseServico = pd.read_excel(r'BaseServiçosPrestados.xlsx')
cadastroClientes = pd.read_csv(r'CadastroClientes.csv', sep=';')
cadastroFuncionarios = pd.read_csv(r'CadastroFuncionarios.csv', sep=';')

# 1) calcular folha salarial completa ------------------------------------------------------------
# calculando salário total dos funcionárops - valor total da folha salarial - salario base + impostos + benefícios + vt + vr 
display(cadastroFuncionarios)

colunas_folhaSalarial = ['Salario Base', 'Impostos', 'Beneficios', 'VT', 'VR']

for coluna in colunas_folhaSalarial:
    if cadastroFuncionarios[coluna].dtype=='object':
        cadastroFuncionarios[coluna] = cadastroFuncionarios[coluna].str.replace(',', '.').astype(float)

folhaSalarial = cadastroFuncionarios[colunas_folhaSalarial].sum(axis=1)

cadastroFuncionarios.insert(8, 'Folha Salarial Total', folhaSalarial) #soma de todos os benefícios e salarios (gasto total da empresa com cada funcionário)

gasto_total_cm_folhaSalarial = cadastroFuncionarios['Folha Salarial Total'].sum()

display(cadastroFuncionarios)

print(gasto_total_cm_folhaSalarial)

#-----------------------------------------------------------------------------------------------

,ID Funcionário,Estado Civil,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Cargo,Area
0,1,C,Gabriel Mesquita,21910,10955,4382,242,"719,04",Diretor,Operações
1,2,C,João Haddad,5404,2702,"1080,8",154,"574,56",Estagiário,Logística
2,3,C,Amanda Marques Ribeiro,16066,8033,"3213,2",154,"729,12",Estagiário,Administrativo
3,4,C,Guilherme Nunez,21305,"10652,5",4261,220,"524,16",Analista,Administrativo
4,5,C,Adelino Gomes,5098,2549,"1019,6",176,"725,76",Analista,Administrativo
...,...,...,...,...,...,...,...,...,...,...
109,143,C,Renan Scharnhorst Ott,10793,"5396,5","2158,6",242,"514,08",Analista,Logística
110,144,S,Lucas Brum Pereira,4048,2024,"809,6",198,"796,32",Estagiário,Comercial
111,148,S,Caio Stellet,24596,12298,"4919,2",242,"561,12",Analista,Administrativo
112,149,C,Fernanda Rocha,5078,2539,"1015,6",308,"665,28",Estagiário,Comercial
113,150,C,Eduardo Brum,15939,"7969,5","3187,8",220,"769,44",Analista,Comercial

,ID Funcionário,Estado Civil,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Folha Salarial Total,Cargo,Area
0,1,C,Gabriel Mesquita,21910,10955.0,4382.0,242,719.04,38208.04,Diretor,Operações
1,2,C,João Haddad,5404,2702.0,1080.8,154,574.56,9915.36,Estagiário,Logística
2,3,C,Amanda Marques Ribeiro,16066,8033.0,3213.2,154,729.12,28195.32,Estagiário,Administrativo
3,4,C,Guilherme Nunez,21305,10652.5,4261.0,220,524.16,36962.66,Analista,Administrativo
4,5,C,Adelino Gomes,5098,2549.0,1019.6,176,725.76,9568.36,Analista,Administrativo
...,...,...,...,...,...,...,...,...,...,...,...
109,143,C,Renan Scharnhorst Ott,10793,5396.5,2158.6,242,514.08,19104.18,Analista,Logística
110,144,S,Lucas Brum Pereira,4048,2024.0,809.6,198,796.32,7875.92,Estagiário,Comercial
111,148,S,Caio Stellet,24596,12298.0,4919.2,242,561.12,42616.32,Analista,Administrativo
112,149,C,Fernanda Rocha,5078,2539.0,1015.6,308,665.28,9605.88,Estagiário,Comercial
113,150,C,Eduardo Brum,15939,7969.5,3187.8,220,769.44,28085.74,Analista,Comercial

2717493.22